apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    uid: loki
  - name: Postgres
    type: postgres
    access: proxy
    url: db:5432
    user: nextspyke
    database: nextspyke
    uid: postgres
    jsonData:
      sslmode: "disable"
      postgresVersion: 1600
      timescaledb: false
    secureJsonData:
      password: nextspyke
